body {
    margin: 0; 
    padding: 0; 
    height: 100vh;
    width: 100vw; 
    font-family: sans-serif; 
  }
  
  .netflixlogo{
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
  }

  h2{
    background-color: #000000;
    color:#E50914; 
    padding: 2px 9px; 
    border: none; 
    border-radius: 3px; 
    cursor: pointer; 
    display: inline-block;
  }

  .home h2:hover {
    background-color: #ffffff;
  }
  
  .form-group {
      margin-bottom: 20px;
    }
    
    form {
      color: white;
      text-align: center;
    }
    
    #login {
      background-image: url('https://store-images.s-microsoft.com/image/apps.47842.9007199266246365.2a2d31fe-dc82-41b6-9774-9ce54b027860.e16db4e0-8f09-444d-8119-15dc01401ba2?mode=scale&q=90&h=1080&w=1920');
      backdrop-filter: blur(5px);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  
    }
    
    #form {
      font-family: sans-serif;
      font-weight: 600;
      color: #ffffff;
      display: block;
      font-size:15px;
      margin: 3px 0 2px;
    }
    
    input[type="email"],
    input[type="password"] {
      width: 20%;
      padding: 5px;
      margin: 5px;
      box-sizing: border-box;
      border: 1.5px solid #000000;
      border-radius: 8px;
      background-color: rgb(255, 255, 255);
    }
    
    input[type="submit"] {
      background-color:#E50914;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color:#ac2222;
    }
    
    .log-in {
      font-family: sans-serif;
      color: #ffffff;
      position: relative;
      margin: 30px 0 40px;
      text-align: center;
      background-color:#000000;
      border: none; 
      border-radius: 5px; 
      }
      
    h4{
    background-color:#000000;
    font-family: sans-serif;
    position: relative;
    font-weight: 600;
    color:#ffffff; 
    padding: 2px 9px; 
    border: none; 
    border-radius: 3px; 
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    }  
    footer {
      padding: 5px;
      margin-top: 50px;
      background-color: #14141447;
      text-align: center;
    }
    
    footer a {
      color: white;
      margin: 5px 10px;
      text-decoration: none;
    }
    a { 
      color:#E50914; 
      text-decoration: none;
    }
    .login-link {
      margin-left: 10px; /* Adjust the value as needed */
  }
  
    